.outervh {
  min-height: 720px;
}
.template-new-wrapper-sidebar {
  nav {
    max-width: 100px;
    text-align: center;
    margin-top: 30px;
    padding: 0;
    ul {
      margin-left: 0px;
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 50px;
        padding: 15px 10px;
        button {
          border: 0px;
          outline: none;
          background: none;

          img {
            max-width: 18px;
          }
          span {
            display: block;
            font-weight: 600;
            font-size: 14px;
            color: #24213f;
          }
        }
      }
      li.active,
      li:hover {
        background-color: #eee;
      }
    }
  }
}

.template-new-wrapper-top {
  background: #24213f;
  ul {
    display: flex;
    color: #fff;
    padding: 25px 0px;
    justify-content: flex-end;
    margin-right: 40px;
    margin-bottom: 0;
    li {
      padding: 0 15px;
      font-weight: 500;
    }
  }
  .d-flex {
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    .name-section {
      width: 50%;
    }
    input {
      background: #000220;
      width: 80%;
      border: 0px;
      color: #fff;
      font-weight: 500;
      min-height: 40px;
      padding: 0 15px;
      border-radius: 5px;
    }
  }
}
.template-new-wrapper-text-editor {
  padding: 40px 20px;
  width: 30%;
  .text-editor {
    h4 {
      font-size: 14px;
      color: #7e7e8d;
    }
    .sectionOne {
      display: flex;
      margin-bottom: 15px;
      .form-control {
        width: 30%;
        border-radius: 0px;
        border: 2px solid #999;
      }
      select {
        background-color: #fff;
        border: 2px solid #999;
        padding: 5px;
        width: 35%;
        background-image: url("./../assets/images/templates/arrow-triangle.svg");
        background-repeat: no-repeat;
        background-position: 95% center;
        background-size: 9px;
      }
      select:first-of-type {
        margin-right: 15px;
        width: 65%;
        max-width: 270px;
      }
      select {
        /* for Firefox */
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
      }

      /* For IE10 */
      select::-ms-expand {
        display: none;
      }
      &:first-of-type select {
        width: 35%;
        margin-right: 0;
      }
    }
  }
  div[id^="font-picker"] p {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  div[id^="font-picker"] {
    width: 65%;
    margin-right: 15px;
    box-shadow: none;
    border: 2px solid #999;
    max-width: 270px;
  }

  div[id^="font-picker"] .dropdown-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0 10px;
    background: #fff;
    height: 100%;
    box-shadow: none !important;
  }
}

.sectionTwo {
  margin-bottom: 30px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      .font-color {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        svg {
          &:first-of-type {
            position: absolute;
          }
          &:last-of-type {
            width: 3.5rem;
            height: 3.5rem;
          }
        }
        .sketch-picker {
          position: absolute;
          top: 100%;
        }
      }
    }
  }

  .borders {
    padding: 15px 15px;
    border: 2px solid #ccc;
    min-width: 57px;
    display: block;
    text-align: center;
    cursor: pointer;
  }
  .borders.active {
    border-color: #00e9b9;
  }
}
.animation-section {
  select {
    background-color: #fff;
    border: 2px solid #999;
    padding: 5px;
    width: 100%;
    background-image: url("./../assets/images/templates/arrow-triangle.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 9px;
  }

  select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
}

.template-new-wrapper-scene1 {
  margin-top: 30px;
  width: 55%;
  max-width: 1920px;
  .d-flex {
    height: 100%;
    .bg-section {
      height: 100%;
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0;
      .bg {
        width: calc(50% - 10px);
        height: calc(50% - 10px);
        cursor: pointer;
        margin: 5px;
        &:nth-of-type(2),
        &:nth-of-type(3) {
          background-color: #eee;
        }
      }
    }
  }
}

.template-new-wrapper-bottom {
  padding: 0 30px;
  background: #f4f1f1;
  margin-top: 50px;
  box-shadow: 0 0 6px #ccc;
  .play-button-section {
    width: 128px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    span {
      font-weight: 500;
      color: #24213f;
      width: 100%;
      font-size: 18px;
      margin-top: 10px;
      display: block;
    }
    .button {
      height: 60px;
      width: 60px;
      border-radius: 50px;
      text-align: center;
      display: flex;
      background: #fff;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
    }
  }
  .add-scene {
    width: 128px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    .section-btn {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      svg {
        width: 30px;
        height: 30px;
        color: #fff;
        fill: #fff;
      }
    }
    span {
      font-weight: 500;
      color: #24213f;
      width: 100%;
      font-size: 18px;
      margin-top: 10px;
      display: block;
    }
    .button {
      height: 60px;
      width: 60px;
      border-radius: 50px;
      text-align: center;
      display: flex;
      background: #00e9b9;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
    }
  }
  .scene-section {
    width: calc(90% - 128px);
    overflow-x: auto;
    overflow-y: hidden;
    padding: 30px 0px;
    .inner-section {
      height: 100%;
    }
    .player-thumb {
      display: flex;
      height: 100%;
      .thumb-section {
        min-width: 250px;
        width: 40%;
        height: 100%;
        min-height: 80px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0 2px;
        border-radius: 4px;
        box-shadow: 0 4px 7px #999;
        border: 2px solid #000a47;
        position: relative;
        a {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.img-section {
  width: 100%;
  position: relative;
  .react-draggable {
    padding: 15px 5px;
    position: absolute;
  }
  .react-draggable > div {
    background-color: #fff;
    display: flex;
    align-items: center;
  }
  textarea.form-control {
    height: auto;
    border: 0px;
    resize: none;
    width: 100%;
    min-height: 70px;
    box-shadow: none;
    outline: none;
    border-radius: 0px;
    border: 0px !important;
  }
}

.change-wrapper {
  .d-flex {
    flex-wrap: wrap;
    justify-content: space-between;
    button {
      margin-bottom: 20px;
    }
  }
  img {
    margin-bottom: 30px;
    box-shadow: 0 5px 15px #999;
  }
}
.template-new-media {
  width: 90%;
  .leftPanel {
    background: #f7f7f7;
    padding: 10px;
    width: 200px;
    ul {
      margin-top: 50px;
      margin-left: 30px;
      li {
        margin-bottom: 30px;
      }
    }
    .btns {
      background-color: transparent;
      border: 0px;
    }
    .btn {
      max-width: 128px;
      margin-left: -10px;
      padding: 6px 10px;
      min-width: auto;
      height: auto;
      font-size: 15px;
    }
  }
  .rightPanel {
    width: 80%;
    .button-section {
      margin: 20px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-size: 25px;
        margin-bottom: 0;
        margin-right: 30px;
      }
      .btn {
        max-width: 150px;
        padding: 7px 15px;
        min-width: auto;
        height: auto;
        position: relative;
        cursor: pointer;
        input {
          cursor: pointer;
          position: absolute;
          height: 100%;
          width: 100%;
          opacity: 0;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
        }
      }
      div:first-of-type {
        display: flex;
        align-items: center;
        width: 80%;
      }
      div:last-of-type {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
          margin-right: 10px;
          max-width: 20px;
        }
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 15px;
      li {
        width: 25%;
        padding: 15px 15px 40px;
        img {
          max-width: 100%;
          border: 2px solid #fff;
          cursor: pointer;
          transition: all ease-in-out 0.4s;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        &.active {
          img {
            border: 2px solid #094a72;
            box-shadow: 0 6px 10px #999;
          }
        }
        &:hover img {
          transform: scale(1.04);
        }
      }
    }
  }
}
.slider-section {
  .bg-section {
    div {
      height: 100%;
      width: 100%;
      div.bg {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
  .text-wrapper.left-section-text {
    left: 0;
    height: 100%;
    padding: 20px 35px;
    text-align: left;
    max-width: 220px;
    position: absolute;
    left: 0;
    z-index: 999;
    background: #fff;
    top: 0;
    bottom: 0;
    h3 {
      font-size: 18px;
      z-index: 2;
      position: relative;
      input {
        font-size: 18px;
        font-weight: 600;
        z-index: 2;
        position: relative;
      }
    }
    .listing-box {
      height: auto !important;
      margin-bottom: 10px;
      border: 1px solid #fff;
      padding: 5px;
      position: relative;
      .close-add-buttons {
        position: absolute;
        right: -20px;
        text-align: right;
        top: -20px;
        opacity: 0;
        transition: all ease-in-out 0.4s;
        img {
          max-width: 15px;
          margin-left: 10px;
          cursor: pointer;
        }
      }
      &:hover .close-add-buttons {
        opacity: 1;
      }
      &:hover {
        border: 1px solid #eee;
      }
      .title {
        position: relative;
        z-index: 2;
      }
    }
    .form-control {
      background: #fff;
      height: 30px;
      border-radius: 0px;
      border: 0px !important;
      padding-left: 0;
    }
  }
  .img-section textarea.form-control {
    background: #fff !important;
  }
}

.slider-wrapper.axis-vertical {
  height: 100% !important;
  ul {
    height: 100% !important;
    li {
      height: 100% !important;
    }
  }
}
.carousel.carousel-slider {
  overflow: hidden;
}
.slider-section .bg-section .carousel-root div {
  overflow: hidden;
}
.slider-section .carousel-root .slider-box {
  position: relative;
  padding: 0 0px 0px;
  margin: 0;
  div.bg {
    margin: 0;
  }
}

.slider-section .img-section .react-draggable {
  padding: 0;
}
.slider-section .slider-box {
  padding: 0;
}
.half-width {
  width: 50%;
  position: relative;
  height: 100%;
  margin: 0 2px;
  overflow: hidden;
}

.slider-section .home-new .slider-box {
  padding: 15px;
}
.leftPanel {
  h3 {
    font-size: 17px;
    text-align: center;
    margin-top: 30px;
  }
}
.template-new-media .rightPanel.addscenes {
  ul li {
    width: 33%;
    text-align: center;
    position: relative;
    &::after {
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      left: 0;
      opacity: 0;
      transition: all ease-in-out 0.4s;
      z-index: 1;
    }
    &:hover &::after {
      opacity: 1;
    }
    button {
      position: absolute;
      top: 0%;
      margin: auto;
      left: 0;
      right: 0;
      opacity: 0;
      transition: all ease-in-out 0.4s;
      z-index: 2;
      background: #24213f;
      color: #fff;
      padding: 5px 15px;
      border: 1px solid #fff;
      border-radius: 5px;
    }
    &:hover button {
      top: 40%;
      opacity: 1;
    }

    img {
      transition: all ease-in-out 0.4s;
      border-radius: 10px;
      box-shadow: 00 0 9px #999;
    }
    h4 {
      font-size: 16px;
      margin: 10px auto;
    }
    &:hover img {
      transform: scale(1.04);
    }
  }
}
.template-new-media .rightPanel.addscenes ul li:hover::after {
  opacity: 1;
}
.scene-section {
  position: relative;

  .timebars {
    position: absolute;
    left: 0;
    top: 0;
  }
  .time-internals {
    position: relative;
    font-size: 10px;
    display: flex;
    cursor: pointer;
    .time-intervals {
      position: relative;
      width: 80px;
      min-width: 80px;
      line-height: 10px;
      padding: 4px 0 0 4px;
      color: #7c7d80;
      &::before {
        width: 1px;
        top: 0;
        left: 0;
        height: 14px;
        background: #abacaf;
        position: absolute;
        content: "";
      }
      &::after {
        left: 50%;
        top: 0;
        height: 8px;
        width: 1px;
        background: #b8b9bd;
        margin-left: -1px;
        position: absolute;
        content: "";
      }
    }
  }
}
.duration-view {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 10px;
  color: #59616e;
}

.__cf020 {
  position: relative;
  height: 30px;
  cursor: pointer;
  width: 100%;
  opacity: 0.5;
}
.__cf020__EmptyAudio {
  width: 100%;
  background-image: url("./../assets/images/templates/soundwave-quantized-black.svg");
}
.__cf020__Progress.isPlaying {
  visibility: visible;
  background-image: url("./../assets/images/templates/soundwave-quantized-white.svg");
}
.__cf020__EmptyAudio,
.__cf020__Progress {
  position: absolute;
  background-position: left center;
  background-size: 200px 50px;
  height: 20px;
  margin-top: 5px;
  background-repeat: repeat-x;
}
.scene-2 {
  .slick-slide.slick-active.slick-current {
    -webkit-animation: myMove 8s 1 ease-in-out;
    -moz-animation: myMove 8s 1 ease-in-out;
    -o-animation: myMove 8s 1 ease-in-out;
    -ms-animation: myMove 8s 1 ease-in-out;
    animation: myMove 8s 1 ease-in-out;
  }
  .slick-slide {
    transition: all ease-in-out 1s;
  }
}
.slick-slide.slick-active.slick-current {
  z-index: 9999;
}
@keyframes myMove {
  from {
    transform: scale(1, 1);
    transform-origin: 50% 50%;
  }
  to {
    transform: scale(1.1, 1.1);
    transform-origin: 50% 0%;
  }
}
@-webkit-keyframes myMove {
  from {
    -webkit-transform: scale(1, 1);
    -webkit-transform-origin: 50% 50%;
  }
  to {
    -webkit-transform: scale(1.1, 1.1);
    -webkit-transform-origin: 50% 0%;
  }
}
@-o-keyframes myMove {
  from {
    -o-transform: scale(1, 1);
    -o-transform-origin: 50% 50%;
  }
  to {
    -o-transform: scale(1.1, 1.1);
    -o-transform-origin: 50% 0%;
  }
}
@-moz-keyframes myMove {
  from {
    -moz-transform: scale(1, 1);
    -moz-transform-origin: 50% 50%;
  }
  to {
    -moz-transform: scale(1.1, 1.1);
    -moz-transform-origin: 50% 0%;
  }
}
@-ms-keyframes myMove {
  from {
    -ms-transform: scale(1, 1);
    -ms-transform-origin: 50% 50%;
  }
  to {
    -ms-transform: scale(1.1, 1.1);
    -ms-transform-origin: 50% 0%;
  }
}
.player-new {
  position: relative;
  overflow: hidden;
  .playerui-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all ease-in-out 0.4s;
    .sceneUi {
      font-weight: 500;
      height: auto;
      border: 0px !important;
    }
  }
  .playerui-wrapper.active {
    opacity: 1;
  }
  // .playerui-wrapper.slider-section.scene-2 {
  //   left: 100%;
  // }
  // .playerui-wrapper.slider-section.scene-2.active {
  //   left: 0%;
  // }
  .playerui-wrapper.section3 {
    z-index: 333;
  }
}
.progressBar {
  position: absolute;
  left: 0;
  height: 400px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background: #59616e;
  visibility: hidden;
  top: 0;
  width: 0px;
  .time-internals .time-intervals {
    width: 80px;
    min-width: 80px;
    line-height: 10px;
    padding: 4px 0 0 4px;
    position: relative;
    color: #fff;
  }
}
.progressBar.isPlayings {
  visibility: visible;
}
.scene-section .timebars.playing .time-internals .time-intervals {
  color: #fff !important;
}
.scene-section {
  scroll-behavior: smooth;
}
.scene-section .timebars.playing .time-internals .time-intervals::before {
  background: #fff;
}
.playerscene1 .resize-container {
  transition: all ease-in-out 0.4s;
  opacity: 0;
  textarea {
    opacity: 0;
    transition: all ease-in-out 0.4s;
    transition-delay: 0.8s;
  }
}
.playerscene1.active .resize-container {
  transition: all ease-in-out 0.4s;
  opacity: 1;
  textarea {
    transition: all ease-in-out 0.4s;
    transition-delay: 0.8s;
    opacity: 1;
  }
}
.section3 .sceneUi {
  opacity: 0;
  transition: all ease-in-out 0.4s;
}
.section3 .resize-container {
  opacity: 0;
  transition: all ease-in-out 0.4s;
}
.section3.active .resize-container {
  opacity: 1;
  transition: all ease-in-out 0.4s;
}
.section3.active .sceneUi {
  opacity: 1;
  transition-delay: 0.8s;
  transition: all ease-in-out 0.4s;
}

.player-slider-1.animation .resize-container,
.player-slider-2.animation .resize-container {
  top: 1%;
  transition: all ease-in-out 0.5s;
}
.player-slider-1 .resize-container,
.player-slider-2 .resize-container {
  top: 100%;
  transition: all ease-in-out 0.5s;
}
.rdt_TableHeadRow div {
  font-weight: bold !important;
  font-size: 15px;
}
.c-sidebar .c-sidebar-brand {
  color: #fff;
  background: #ebedef;
}
.form-control {
  height: auto;
}
.btn-link.btn,
.dropdown-toggle.btn,
.btn.btn-transparent {
  background: transparent;
  border: 0px;
}
